.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.venv
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
staticfiles/
media/
.DS_Store
Thumbs.db
db.sqlite3
.coverage
.nyc_output
.coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
*.egg-info/
.eggs/
dist/
build/
.tox/
.hypothesis/
.python-version
